<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="../../static/styles.css">
    <meta charset="UTF-8">
    <title>PyType</title>
</head>
<body>
<div id="header">
  <div id="title">
    <h1 id="headTitle" onclick="window.location.href='../'">PyType</h1>
  </div>
  <div id="subtitle">
    <h2>By Evan, Saaketh, and Mads</h2>
  </div>
  <h3 class="nojump">
      PieType is a typing-test web-app written in the Django Framework.<br>
      The backend is entirely python, and the frontend is written in JavaScript, CSS, and HTML.<br>
      Each attempt yields persistent data stored in the SQLite Database.<br>
      This allows for previous attempts to be viewed.<br>
      Any previous attempt, in fact, can be viewed by going to its corresponding page.<br>
      Data is retrieved from the client's browser via an AJAX POST request.<br>
      Data can be manipulated from the frontend by going to ../admin<br>
      We couldn't get CSRF Tokens working, so this method is potentially vulnerable to attack.<br>
  </h3>
  <a target="_blank" href="https://docs.google.com/document/d/1i8DwgpAjRUbIITdH_cJDohqj1Gt7CNHnT1ywn_9jRXU/edit?usp=sharing">
      <br>Project Proposal Document
  </a>
</div>
</body>
</html>