<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="../../static/styles.css">
    <meta charset="UTF-8">
    <title>PyType</title>
</head>
<body>
<!--Going to be used for looking at previous attempts-->
<!--Needs to be passed an array of words, with each letter having a character field and a class field-->
<!--Also needs the WPM, RawWPM, and Accuracy stats-->
{% load attempts %}
<div id="header">
    <div id="title">
        <h1 id="headTitle" onclick="window.location.href='../'">PyType</h1>
        <button id="about" onclick="window.location.href='../about'">more info</button>
        <h3 id="timer">{{ time }}</h3>
    </div>
    <div id="subtitle">
        <h2>By Evan, Saaketh, and Mads</h2>
        <button id="arrow" onclick="window.location.href='../'">=></button>
    </div>
    <h3>
        timer starts when you begin typing<br>
        &lt;ctrl + r&gt; will restart the test<br>
        add ?length=&lt;num&gt; to the url to change wordcount
    </h3>
    <div id="highScoreDiv">
        <h3 id="">high score:&nbsp;</h3>
        <h3 id="highScore">0 wpm</h3>
    </div>
    <h3 id="reset" class="nojump" onclick="setCookie('highScore', 0);
        document.getElementById('highScore').innerText = 0 + ' wpm'">
        reset score
    </h3>
</div>

<div id="words">
    {% for word in sentence %}
    <div class="word">
        {% for char in word %}
        <letter class="{{char|index:1}}">{{char|index:0}}</letter>
        {% endfor %}
        <!--        <letter class="">&nbsp;</letter>-->
    </div>
    {% endfor %}
</div>

<div id="stats">
    <div class="statDiv" id="rawWPMDiv">
        <stats id="rawWPMTitle">Raw WPM</stats>
        <h3 id="rawWPM">{{rawWPM}}</h3>
    </div>
    <div class="statDiv" id="wpmDiv">
        <stats id="wpmTitle">Words Per Minute</stats>
        <h3 id="wpm">{{wpm}}</h3>
    </div>
    <div class="statDiv" id="accuracyDiv">
        <stats id="accuracyTitle">Accuracy</stats>
        <h3 id="accuracy">{{accuracy}}%</h3>
    </div>
</div>

<script>
    function setCookie(cname, cvalue, exdays) {
        const d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        let expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) === ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) === 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function init() {
        let highScore = getCookie("highScore")
        document.getElementById("highScore").innerText = parseInt(highScore) + " wpm";
    }

    window.onload = init;
</script>
</body>
</html>